body {
  background: white;
  color: black;
  width: 100%;
  font-family: sans-serif;
  font-size: 200%;
}

@media screen {
  body {
    height: 100%;
    overflow: hidden;
  }
}

pre {
  font-family: monospace;
  text-align: initial;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

blockquote {
  text
}

@media screen {
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease 0s;
  }

  .previous {
    display: flex;
    overflow: hidden;
    transform: translate3d(-100%, 0, 0);
  }

  .current {
    display: flex;
  }

  .next {
    display: flex;
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
  }

  .slide .content {
    width: 90%;
    height: 100%;

    padding: 1em;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media print {
  body {
    font-size: 150%;
  }

  .slide {
    width: 100%;
    height: 100%;

    page-break-after: always;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slide .content {
    width: 90%;
    height: 100%;

    padding: 1em;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
